<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.flj.guavatest.mapper.ClassesMapper" >
  <resultMap id="BaseResultMap" type="com.github.flj.guavatest.entity.Classes" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="classes_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="head_teacher_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, classes_name, head_teacher_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.flj.guavatest.entity.Classes" >
    insert into classes (id, classes_name, head_teacher_id
      )
    values (#{id,jdbcType=INTEGER}, #{classesName,jdbcType=VARCHAR}, #{headTeacherId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.flj.guavatest.entity.Classes" >
    insert into classes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classesName != null" >
        classes_name,
      </if>
      <if test="headTeacherId != null" >
        head_teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classesName != null" >
        #{classesName,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherId != null" >
        #{headTeacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.flj.guavatest.entity.Classes" >
    update classes
    <set >
      <if test="classesName != null" >
        classes_name = #{classesName,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherId != null" >
        head_teacher_id = #{headTeacherId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.flj.guavatest.entity.Classes" >
    update classes
    set classes_name = #{classesName,jdbcType=VARCHAR},
      head_teacher_id = #{headTeacherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>